In [1]:
# Connection
from hana_ml import dataframe
from hana_ml.dataframe import ConnectionContext, create_dataframe_from_pandas
from data_load_utils import DataSets, Settings
url, port, user, pwd = Settings.load_config("../../config/e2edata.ini")
conn = dataframe.ConnectionContext(url, port, user, pwd)

In [2]:
# Dataset function
import numpy as np
import pandas as pd
def geometric_brownian_motion(T = 1, N = 2, mu = -0.01, sigma = 0.001, S0 = 2):        
    dt = float(T)/N
    t = np.linspace(0, T, N)
    W = np.random.standard_normal(size = N) 
    W = np.cumsum(W)*np.sqrt(dt) ### standard brownian motion ###
    X = (mu-0.5*sigma**2)*t + sigma*W 
    S = S0*np.exp(X) ### geometric brownian motion ###
    return S

In [3]:
# df
dates = pd.date_range('2018-03-01', '2018-03-10',freq='H')
T = (dates.max() - dates.min()).days / 365
N = dates.size
start_price = 1000
y = pd.DataFrame()
y['INDEX'] = dates
y['Y'] = geometric_brownian_motion(T, N, sigma=0.1, S0=start_price)
df = create_dataframe_from_pandas(conn, y, '#ARIMA_TIMESTAMP', force=True).sort("INDEX")
print(df.collect())

100%|████████████████████████████████████████████████████████████████████████████████████| 1/1 [00:00<00:00,  1.69it/s]

                  INDEX            Y
0   2018-03-01 00:00:00  1000.584817
1   2018-03-01 01:00:00   999.519375
2   2018-03-01 02:00:00   998.666737
3   2018-03-01 03:00:00  1000.857958
4   2018-03-01 04:00:00  1002.147020
..                  ...          ...
212 2018-03-09 20:00:00  1008.612219
213 2018-03-09 21:00:00  1009.683055
214 2018-03-09 22:00:00  1009.948683
215 2018-03-09 23:00:00  1010.036911
216 2018-03-10 00:00:00  1009.491548

[217 rows x 2 columns]

In [4]:
# y_arimax
dates = pd.date_range('2018-03-01', '2018-03-10', freq='H')
T = (dates.max()-dates.min()).days / 365
N = dates.size
start_price = 1000
y_arimax = pd.DataFrame()
y_arimax['INDEX'] = dates
y_arimax['Y'] = geometric_brownian_motion(T, N, sigma=0.1, S0=start_price)
y_arimax['EX'] = geometric_brownian_motion(T, N, sigma=0.1, S0=start_price)
df_arimax = create_dataframe_from_pandas(conn, y_arimax, '#ARIMAX_TIMESTAMP', force=True).sort("INDEX")
print(df_arimax.collect())

# y_ariamx predict
dates = pd.date_range('2018-03-10', '2018-03-11', freq='H')
T = (dates.max()-dates.min()).days / 365
N = dates.size
start_price = 1000
predict_arimax = pd.DataFrame()
predict_arimax['INDEX'] = dates
predict_arimax['EX'] = geometric_brownian_motion(T, N, sigma=0.1, S0=start_price)
predict_arimax_df = create_dataframe_from_pandas(conn, predict_arimax, '#ARIMAX_PREDICT_TIMESTAMP', force=True).sort("INDEX")
print(predict_arimax_df.collect())

100%|████████████████████████████████████████████████████████████████████████████████████| 1/1 [00:00<00:00,  1.66it/s]

                  INDEX            Y           EX
0   2018-03-01 00:00:00   999.927148   999.720970
1   2018-03-01 01:00:00   999.270908  1000.359998
2   2018-03-01 02:00:00   998.359882  1000.812694
3   2018-03-01 03:00:00   998.413384  1002.046111
4   2018-03-01 04:00:00   997.424863  1003.696107
..                  ...          ...          ...
212 2018-03-09 20:00:00  1014.367222   986.591260
213 2018-03-09 21:00:00  1013.839979   984.729785
214 2018-03-09 22:00:00  1013.391534   985.194611
215 2018-03-09 23:00:00  1013.177074   986.294107
216 2018-03-10 00:00:00  1013.311451   985.940788

[217 rows x 3 columns]

100%|████████████████████████████████████████████████████████████████████████████████████| 1/1 [00:00<00:00,  1.74it/s]

                 INDEX           EX
0  2018-03-10 00:00:00   999.208698
1  2018-03-10 01:00:00  1000.096393
2  2018-03-10 02:00:00   999.582595
3  2018-03-10 03:00:00   999.495129
4  2018-03-10 04:00:00  1000.649157
5  2018-03-10 05:00:00  1000.074740
6  2018-03-10 06:00:00  1002.317076
7  2018-03-10 07:00:00  1001.306258
8  2018-03-10 08:00:00  1002.616478
9  2018-03-10 09:00:00  1001.260352
10 2018-03-10 10:00:00  1001.587378
11 2018-03-10 11:00:00  1003.273713
12 2018-03-10 12:00:00  1004.264993
13 2018-03-10 13:00:00  1004.766629
14 2018-03-10 14:00:00  1005.752967
15 2018-03-10 15:00:00  1005.523311
16 2018-03-10 16:00:00  1004.212798
17 2018-03-10 17:00:00  1004.104629
18 2018-03-10 18:00:00  1004.006069
19 2018-03-10 19:00:00  1005.161779
20 2018-03-10 20:00:00  1005.998193
21 2018-03-10 21:00:00  1008.371414
22 2018-03-10 22:00:00  1008.425156
23 2018-03-10 23:00:00  1009.258622
24 2018-03-11 00:00:00  1011.173455

In [5]:
# ARIMA Timestamp support test
from hana_ml.algorithms.pal.tsa.arima import ARIMA

arima = ARIMA(order=(1, 0, 0), seasonal_order=(1, 0, 0, 2), method='mle', thread_ratio=1.0)
arima.fit(df)
print(arima.fitted_.collect())
result = arima.predict(forecast_method='innovations_algorithm',forecast_length=5, allow_new_index=True)
print(result.collect())
print(result.get_table_structure())
result = arima.predict(forecast_method='innovations_algorithm',forecast_length=5, allow_new_index=False)
print(result.collect())
print(result.get_table_structure())

     INDEX(INT)       FITTED  RESIDUALS
0             1  1005.148296  -4.563478
1             2  1000.627228  -1.107854
2             3   999.729508  -1.062771
3             4   998.032769   2.825189
4             5  1000.224070   1.922950
..          ...          ...        ...
212         213  1008.172922   0.439297
213         214  1008.065041   1.618013
214         215  1008.314656   1.634026
215         216  1010.632401  -0.595490
216         217  1010.156055  -0.664508

[217 rows x 3 columns]
            TIMESTAMP     FORECAST        SE         LO80         HI80  \
0 2018-03-10 01:00:00  1009.516975  1.363804  1007.769190  1011.264760
1 2018-03-10 02:00:00  1009.074657  1.878050  1006.667838  1011.481477
2 2018-03-10 03:00:00  1009.058655  2.925398  1005.309605  1012.807705
3 2018-03-10 04:00:00  1008.693399  3.614861  1004.060767  1013.326031
4 2018-03-10 05:00:00  1008.648988  4.556635  1002.809424  1014.488553

          LO95         HI95
0  1006.843969  1012.189980
1  1005.393746  1012.755568
2  1003.324980  1014.792330
3  1001.608403  1015.778395
4   999.718148  1017.579828
{'TIMESTAMP': 'TIMESTAMP', 'FORECAST': 'DOUBLE', 'SE': 'DOUBLE', 'LO80': 'DOUBLE', 'HI80': 'DOUBLE', 'LO95': 'DOUBLE', 'HI95': 'DOUBLE'}
   TIMESTAMP     FORECAST        SE         LO80         HI80         LO95  \
0          0  1009.516975  1.363804  1007.769190  1011.264760  1006.843969
1          1  1009.074657  1.878050  1006.667838  1011.481477  1005.393746
2          2  1009.058655  2.925398  1005.309605  1012.807705  1003.324980
3          3  1008.693399  3.614861  1004.060767  1013.326031  1001.608403
4          4  1008.648988  4.556635  1002.809424  1014.488553   999.718148

          HI95
0  1012.189980
1  1012.755568
2  1014.792330
3  1015.778395
4  1017.579828
{'TIMESTAMP': 'INT', 'FORECAST': 'DOUBLE', 'SE': 'DOUBLE', 'LO80': 'DOUBLE', 'HI80': 'DOUBLE', 'LO95': 'DOUBLE', 'HI95': 'DOUBLE'}

In [6]:
# ARIMA Timestamp support test
from hana_ml.algorithms.pal.tsa.arima import ARIMA

arimax = ARIMA(order=(1, 0, 0), seasonal_order=(1, 0, 0, 2), method='mle', thread_ratio=1.0)
arimax.fit(df_arimax, key='INDEX', endog= 'Y', exog='EX')
print(arima.fitted_.collect())
result = arimax.predict(predict_arimax_df, forecast_method='innovations_algorithm',forecast_length=5, allow_new_index=True)
print(result.collect())
result = arima.predict(predict_arimax_df, forecast_method='innovations_algorithm',forecast_length=5, allow_new_index=False)
print(result.collect())

     INDEX(INT)       FITTED  RESIDUALS
0             1  1005.148296  -4.563478
1             2  1000.627228  -1.107854
2             3   999.729508  -1.062771
3             4   998.032769   2.825189
4             5  1000.224070   1.922950
..          ...          ...        ...
212         213  1008.172922   0.439297
213         214  1008.065041   1.618013
214         215  1008.314656   1.634026
215         216  1010.632401  -0.595490
216         217  1010.156055  -0.664508

[217 rows x 3 columns]
                 INDEX     FORECAST        SE         LO80         HI80  \
0  2018-03-10 01:00:00  1013.204511  1.062121  1011.843348  1014.565674
1  2018-03-10 02:00:00  1013.205186  1.502064  1011.280212  1015.130159
2  2018-03-10 03:00:00  1013.209064  1.868262  1010.814789  1015.603340
3  2018-03-10 04:00:00  1013.210744  2.173617  1010.425142  1015.996347
4  2018-03-10 05:00:00  1013.203637  2.442090  1010.073971  1016.333302
5  2018-03-10 06:00:00  1013.208388  2.683840  1009.768908  1016.647869
6  2018-03-10 07:00:00  1013.193854  2.905584  1009.470197  1016.917510
7  2018-03-10 08:00:00  1013.201579  3.111565  1009.213947  1017.189211
8  2018-03-10 09:00:00  1013.193423  3.304733  1008.958236  1017.428610
9  2018-03-10 10:00:00  1013.203511  3.487217  1008.734461  1017.672561
10 2018-03-10 11:00:00  1013.202082  3.660615  1008.510813  1017.893351
11 2018-03-10 12:00:00  1013.191353  3.826163  1008.287926  1018.094779
12 2018-03-10 13:00:00  1013.185379  3.984838  1008.078601  1018.292157
13 2018-03-10 14:00:00  1013.182756  4.137433  1007.880420  1018.485091
14 2018-03-10 15:00:00  1013.176816  4.284596  1007.685883  1018.667748
15 2018-03-10 16:00:00  1013.179196  4.426869  1007.505933  1018.852459
16 2018-03-10 17:00:00  1013.188971  4.564710  1007.339058  1019.038884
17 2018-03-10 18:00:00  1013.190520  4.698508  1007.169137  1019.211903
18 2018-03-10 19:00:00  1013.192003  4.828600  1007.003900  1019.380105
19 2018-03-10 20:00:00  1013.184904  4.955278  1006.834458  1019.535351
20 2018-03-10 21:00:00  1013.179990  5.078797  1006.671248  1019.688732
21 2018-03-10 22:00:00  1013.164561  5.199382  1006.501283  1019.827839
22 2018-03-10 23:00:00  1013.165002  5.317233  1006.350692  1019.979312
23 2018-03-11 00:00:00  1013.160108  5.432527  1006.198042  1020.122174
24 2018-03-11 01:00:00  1013.147816  5.545425  1006.041065  1020.254566

           LO95         HI95
0   1011.122793  1015.286229
1   1010.261193  1016.149178
2   1009.547337  1016.870791
3   1008.950534  1017.470955
4   1008.417228  1017.990045
5   1007.948159  1018.468618
6   1007.499015  1018.888693
7   1007.103025  1019.300134
8   1006.716266  1019.670581
9   1006.368691  1020.038330
10  1006.027408  1020.376756
11  1005.692211  1020.690494
12  1005.375239  1020.995519
13  1005.073536  1021.291975
14  1004.779162  1021.574470
15  1004.502691  1021.855700
16  1004.242304  1022.135638
17  1003.981613  1022.399427
18  1003.728120  1022.655886
19  1003.472738  1022.897071
20  1003.225731  1023.134249
21  1002.973960  1023.355162
22  1002.743418  1023.586587
23  1002.512551  1023.807666
24  1002.278983  1024.016649
    INDEX(INT)     FORECAST         SE         LO80         HI80         LO95  \
0            0  1009.516975   1.363804  1007.769190  1011.264760  1006.843969
1            1  1009.074657   1.878050  1006.667838  1011.481477  1005.393746
2            2  1009.058655   2.925398  1005.309605  1012.807705  1003.324980
3            3  1008.693399   3.614861  1004.060767  1013.326031  1001.608403
4            4  1008.648988   4.556635  1002.809424  1014.488553   999.718148
5            5  1008.344951   5.259345  1001.604827  1015.085075   998.036824
6            6  1008.282644   6.083746  1000.486007  1016.079282   996.358721
7            7  1008.027602   6.737482   999.393170  1016.662035   994.822381
8            8  1007.954919   7.445374   998.413285  1017.496553   993.362254
9            9  1007.739395   8.026989   997.452391  1018.026399   992.006785
10          10  1007.661647   8.626628   996.606175  1018.717119   990.753768
11          11  1007.478253   9.130687   995.776803  1019.179704   989.582435
12          12  1007.399138   9.633596   995.053184  1019.745092   988.517637
13          13  1007.242081  10.063024   994.345792  1020.138370   987.518916
14          14  1007.164113  10.481639   993.731347  1020.596879   986.620477
15          15  1007.028819  10.843125   993.132790  1020.924848   985.776683
16          16  1006.953655  11.189536   992.613682  1021.293627   985.022566
17          17  1006.836488  11.491159   992.109971  1021.563006   984.314231
18          18  1006.765166  11.776482   991.672993  1021.857340   983.683686
19          19  1006.663216  12.026470   991.250670  1022.075763   983.091768
20          20  1006.596333  12.260586   990.883753  1022.308912   982.566025
21          21  1006.507249  12.466693   990.530533  1022.483964   982.072979
22          22  1006.445087  12.658193   990.222954  1022.667220   981.635484
23          23  1006.366958  12.827409   989.927966  1022.805949   981.225698
24          24  1006.309586  12.983642   989.670373  1022.948799   980.862115

           HI95
0   1012.189980
1   1012.755568
2   1014.792330
3   1015.778395
4   1017.579828
5   1018.653077
6   1020.206568
7   1021.232824
8   1022.547584
9   1023.472005
10  1024.569527
11  1025.374072
12  1026.280639
13  1026.965246
14  1027.707749
15  1028.280954
16  1028.884743
17  1029.358746
18  1029.846646
19  1030.234664
20  1030.626641
21  1030.941518
22  1031.254691
23  1031.508218
24  1031.757057

In [7]:
# Auto ARIMA Timestamp support test
from hana_ml.algorithms.pal.tsa.auto_arima import AutoARIMA

autoarima = AutoARIMA(search_strategy=1, allow_linear=1, thread_ratio=1.0)
autoarima.fit(df)
result= autoarima.predict(forecast_method='innovations_algorithm', forecast_length=5, allow_new_index=True)
print(result.collect())
result= autoarima.predict(forecast_method='innovations_algorithm', forecast_length=5, allow_new_index=False)
print(result.collect())

            TIMESTAMP  FORECAST        SE         LO80         HI80  \
0 2018-03-10 01:00:00   1009.49  1.103046  1008.076389  1010.903611
1 2018-03-10 02:00:00   1009.49  1.559942  1007.490853  1011.489147
2 2018-03-10 03:00:00   1009.49  1.910531  1007.041555  1011.938445
3 2018-03-10 04:00:00   1009.49  2.206092  1006.662779  1012.317221
4 2018-03-10 05:00:00   1009.49  2.466485  1006.329071  1012.650929

          LO95         HI95
0  1007.328070  1011.651930
1  1006.432569  1012.547431
2  1005.745427  1013.234573
3  1005.166140  1013.813860
4  1004.655778  1014.324222
   TIMESTAMP  FORECAST        SE         LO80         HI80         LO95  \
0          0   1009.49  1.103046  1008.076389  1010.903611  1007.328070
1          1   1009.49  1.559942  1007.490853  1011.489147  1006.432569
2          2   1009.49  1.910531  1007.041555  1011.938445  1005.745427
3          3   1009.49  2.206092  1006.662779  1012.317221  1005.166140
4          4   1009.49  2.466485  1006.329071  1012.650929  1004.655778

          HI95
0  1011.651930
1  1012.547431
2  1013.234573
3  1013.813860
4  1014.324222

In [8]:
# Online ARIMA Test
from hana_ml.algorithms.pal.tsa import online_algorithms

oarima = online_algorithms.OnlineARIMA(order=(4,0,8), output_fitted=True, learning_rate=0.00001)
oarima.partial_fit(df)
result = oarima.predict(forecast_length=5, allow_new_index=False)
print(result.collect())
result = oarima.predict(forecast_length=5, allow_new_index=True)
print(result.collect())

   ID     FORECAST
0   0  1342.116602
1   1  1358.147168
2   2  1375.551742
3   3  1395.214327
4   4  1416.677054
                   ID     FORECAST
0 2018-03-10 01:00:00  1342.116602
1 2018-03-10 02:00:00  1358.147168
2 2018-03-10 03:00:00  1375.551742
3 2018-03-10 04:00:00  1395.214327
4 2018-03-10 05:00:00  1416.677054

In [9]:
# VectorARIMA test case
from hana_ml.algorithms.pal.tsa.vector_arima import VectorARIMA
dates = pd.date_range('2018-03-01', '2018-03-10',freq='H')
T = (dates.max()-dates.min()).days / 365
N = dates.size
start_price = 1000
y_varima = pd.DataFrame()
y_varima['INDEX'] = dates
y_varima['Y1'] = geometric_brownian_motion(T, N, sigma=0.1, S0=start_price)
y_varima['Y2'] = geometric_brownian_motion(T, N, sigma=0.1, S0=start_price)
df_varima = create_dataframe_from_pandas(conn, y_varima, '#VARIMA_TIMESTAMP', force=True).sort("INDEX")
print(df_varima.collect())


# vectorARIMA test for timestamp
varima = VectorARIMA(model_type='VAR', output_fitted=True)
varima.fit(df_varima, key='INDEX')

result_dict, result = varima.predict(forecast_length=5, allow_new_index=False)
print(varima.is_index_int)
print(varima.forecast_start)
print(varima.timedelta)
print(result.collect())
print(result_dict['Y1'].collect())

result_dict, result = varima.predict(forecast_length=5, allow_new_index=True)
print(result.collect())
print(result_dict['Y1'].collect())

100%|████████████████████████████████████████████████████████████████████████████████████| 1/1 [00:00<00:00,  1.63it/s]

                  INDEX           Y1           Y2
0   2018-03-01 00:00:00   999.250259   998.950531
1   2018-03-01 01:00:00   999.379673   998.593447
2   2018-03-01 02:00:00   999.625414   997.875242
3   2018-03-01 03:00:00   999.783385   999.853495
4   2018-03-01 04:00:00   999.937931  1000.040072
..                  ...          ...          ...
212 2018-03-09 20:00:00  1003.593286  1006.726557
213 2018-03-09 21:00:00  1003.381375  1008.112802
214 2018-03-09 22:00:00  1004.463229  1008.377012
215 2018-03-09 23:00:00  1005.477144  1008.508672
216 2018-03-10 00:00:00  1005.667370  1006.165946

[217 rows x 3 columns]
False
2018-03-10 01:00:00
3600.0
  COLNAME  IDX     FORECAST        SE         LO95         HI95
0      Y1    0  1005.143036  0.982225  1003.217875  1007.068196
1      Y1    1   918.072435  1.453688   915.223206   920.921663
2      Y1    2   836.820494  1.761110   833.368718   840.272270
3      Y1    3   763.129758  1.978059   759.252762   767.006754
4      Y1    4   696.519431  2.139042   692.326909   700.711954
5      Y2    0  1005.825980  1.037681  1003.792126  1007.859834
6      Y2    1   986.553104  1.525874   983.562392   989.543816
7      Y2    2   969.109497  1.876646   965.431272   972.787723
8      Y2    3   951.803915  2.156186   947.577790   956.030039
9      Y2    4   934.317182  2.391093   929.630639   939.003725
   IDX     FORECAST        SE         LO95         HI95
0    0  1005.143036  0.982225  1003.217875  1007.068196
1    1   918.072435  1.453688   915.223206   920.921663
2    2   836.820494  1.761110   833.368718   840.272270
3    3   763.129758  1.978059   759.252762   767.006754
4    4   696.519431  2.139042   692.326909   700.711954
  COLNAME                 IDX     FORECAST        SE         LO95         HI95
0      Y1 2018-03-10 01:00:00  1005.143036  0.982225  1003.217875  1007.068196
1      Y1 2018-03-10 02:00:00   918.072435  1.453688   915.223206   920.921663
2      Y1 2018-03-10 03:00:00   836.820494  1.761110   833.368718   840.272270
3      Y1 2018-03-10 04:00:00   763.129758  1.978059   759.252762   767.006754
4      Y1 2018-03-10 05:00:00   696.519431  2.139042   692.326909   700.711954
5      Y2 2018-03-10 01:00:00  1005.825980  1.037681  1003.792126  1007.859834
6      Y2 2018-03-10 02:00:00   986.553104  1.525874   983.562392   989.543816
7      Y2 2018-03-10 03:00:00   969.109497  1.876646   965.431272   972.787723
8      Y2 2018-03-10 04:00:00   951.803915  2.156186   947.577790   956.030039
9      Y2 2018-03-10 05:00:00   934.317182  2.391093   929.630639   939.003725
                  IDX     FORECAST        SE         LO95         HI95
0 2018-03-10 01:00:00  1005.143036  0.982225  1003.217875  1007.068196
1 2018-03-10 02:00:00   918.072435  1.453688   915.223206   920.921663
2 2018-03-10 03:00:00   836.820494  1.761110   833.368718   840.272270
3 2018-03-10 04:00:00   763.129758  1.978059   759.252762   767.006754
4 2018-03-10 05:00:00   696.519431  2.139042   692.326909   700.711954

In [10]:
# VectorARIMA test case
from hana_ml.algorithms.pal.tsa.vector_arima import VectorARIMA
dates = pd.date_range('2018-03-01', '2018-03-10',freq='H')
T = (dates.max()-dates.min()).days / 365
N = dates.size
start_price = 1000
y_varimax = pd.DataFrame()
y_varimax['INDEX'] = dates
y_varimax['Y1'] = geometric_brownian_motion(T, N, sigma=0.1, S0=start_price)
y_varimax['Y2'] = geometric_brownian_motion(T, N, sigma=0.1, S0=start_price)
y_varimax['EX'] = geometric_brownian_motion(T, N, sigma=0.1, S0=start_price)
df_varimax = create_dataframe_from_pandas(conn, y_varimax, '#VARIMAX_TIMESTAMP', force=True).sort("INDEX")
#print(df_varimax.collect())

# vector predict
dates = pd.date_range('2018-03-10', '2018-03-11', freq='H')
T = (dates.max()-dates.min()).days / 365
N = dates.size
start_price = 1000
predict_varimax = pd.DataFrame()
predict_varimax['INDEX'] = dates
predict_varimax['EX'] = geometric_brownian_motion(T, N, sigma=0.1, S0=start_price)
predict_varimax_df = create_dataframe_from_pandas(conn, predict_varimax, '#VARIMAX_PREDICT_TIMESTAMP', force=True).sort("INDEX")
#print(predict_varimax_df.collect())

# vector ARIMA test for timestamp support
varimax = VectorARIMA(model_type='VAR', output_fitted=True)
varimax.fit(df_varimax, key='INDEX', endog = ['Y1', 'Y2'], exog=['EX'])

result_dict, result = varimax.predict(predict_varimax_df, forecast_length=5, allow_new_index=False)
#print(varimax.is_index_int)
#print(varimax.forecast_start)
#print(varimax.timedelta)
#print(result.collect())
print(result_dict['Y1'].collect())
print(result.count())
print(result_dict['Y1'].count())
print(result.get_table_structure())
print(result_dict['Y1'].get_table_structure())
result_dict, result = varimax.predict(predict_varimax_df, forecast_length=5, allow_new_index=True)
#print(result.collect())
#print(varimax.is_index_int)
#print(varimax.forecast_start)
#print(varimax.timedelta)
print(result_dict['Y1'].collect())
print(result.get_table_structure())
print(result_dict['Y1'].get_table_structure())

100%|████████████████████████████████████████████████████████████████████████████████████| 1/1 [00:00<00:00,  1.68it/s]
100%|████████████████████████████████████████████████████████████████████████████████████| 1/1 [00:00<00:00,  1.68it/s]

    IDX     FORECAST        SE         LO95         HI95
0     1  1009.936552  1.084459  1007.811013  1012.062091
1     2   962.303343  1.515318   959.333320   965.273366
2     3   918.117271  1.835082   914.520512   921.714031
3     4   877.136522  2.096634   873.027120   881.245924
4     5   839.043049  2.320772   834.494335   843.591763
5     6   803.591701  2.518280   798.655872   808.527531
6     7   770.581423  2.695606   765.298036   775.864811
7     8   739.868443  2.856963   734.268795   745.468090
8     9   711.291307  3.005277   705.400965   717.181650
9    10   684.651911  3.142670   678.492277   690.811545
10   11   659.742557  3.270738   653.331910   666.153203
11   12   636.431881  3.390711   629.786088   643.077674
12   13   614.658075  3.503559   607.791099   621.525051
13   14   594.260592  3.610066   587.184861   601.336322
14   15   575.148361  3.710872   567.875051   582.421670
15   16   557.218481  3.806508   549.757725   564.679237
16   17   540.371775  3.897422   532.732827   548.010723
17   18   524.513512  3.983997   516.704879   532.322146
18   19   509.570587  4.066559   501.600131   517.541042
19   20   495.547964  4.145396   487.422987   503.672941
20   21   482.199691  4.220760   473.927001   490.472380
21   22   469.730220  4.292872   461.316190   478.144250
22   23   457.839084  4.361932   449.289697   466.388472
23   24   446.556895  4.428119   437.877782   455.236007
24   25   435.879525  4.491593   427.076002   444.683048
50
25
{'COLNAME': 'NVARCHAR(5000)', 'IDX': 'INT', 'FORECAST': 'DOUBLE', 'SE': 'DOUBLE', 'LO95': 'DOUBLE', 'HI95': 'DOUBLE'}
{'IDX': 'INT', 'FORECAST': 'DOUBLE', 'SE': 'DOUBLE', 'LO95': 'DOUBLE', 'HI95': 'DOUBLE'}
                   IDX     FORECAST        SE         LO95         HI95
0  2018-03-10 02:00:00  1009.936552  1.084459  1007.811013  1012.062091
1  2018-03-10 03:00:00   962.303343  1.515318   959.333320   965.273366
2  2018-03-10 04:00:00   918.117271  1.835082   914.520512   921.714031
3  2018-03-10 05:00:00   877.136522  2.096634   873.027120   881.245924
4  2018-03-10 06:00:00   839.043049  2.320772   834.494335   843.591763
5  2018-03-10 07:00:00   803.591701  2.518280   798.655872   808.527531
6  2018-03-10 08:00:00   770.581423  2.695606   765.298036   775.864811
7  2018-03-10 09:00:00   739.868443  2.856963   734.268795   745.468090
8  2018-03-10 10:00:00   711.291307  3.005277   705.400965   717.181650
9  2018-03-10 11:00:00   684.651911  3.142670   678.492277   690.811545
10 2018-03-10 12:00:00   659.742557  3.270738   653.331910   666.153203
11 2018-03-10 13:00:00   636.431881  3.390711   629.786088   643.077674
12 2018-03-10 14:00:00   614.658075  3.503559   607.791099   621.525051
13 2018-03-10 15:00:00   594.260592  3.610066   587.184861   601.336322
14 2018-03-10 16:00:00   575.148361  3.710872   567.875051   582.421670
15 2018-03-10 17:00:00   557.218481  3.806508   549.757725   564.679237
16 2018-03-10 18:00:00   540.371775  3.897422   532.732827   548.010723
17 2018-03-10 19:00:00   524.513512  3.983997   516.704879   532.322146
18 2018-03-10 20:00:00   509.570587  4.066559   501.600131   517.541042
19 2018-03-10 21:00:00   495.547964  4.145396   487.422987   503.672941
20 2018-03-10 22:00:00   482.199691  4.220760   473.927001   490.472380
21 2018-03-10 23:00:00   469.730220  4.292872   461.316190   478.144250
22 2018-03-11 00:00:00   457.839084  4.361932   449.289697   466.388472
23 2018-03-11 01:00:00   446.556895  4.428119   437.877782   455.236007
24 2018-03-11 02:00:00   435.879525  4.491593   427.076002   444.683048
{'COLNAME': 'NVARCHAR(5000)', 'IDX': 'TIMESTAMP', 'FORECAST': 'DOUBLE', 'SE': 'DOUBLE', 'LO95': 'DOUBLE', 'HI95': 'DOUBLE'}
{'IDX': 'TIMESTAMP', 'FORECAST': 'DOUBLE', 'SE': 'DOUBLE', 'LO95': 'DOUBLE', 'HI95': 'DOUBLE'}

In [11]:
# Test for timestamp support for exponetial smoothing
from hana_ml.algorithms.pal.tsa.exponential_smoothing import AutoExponentialSmoothing, BrownExponentialSmoothing, Croston
from hana_ml.algorithms.pal.tsa.exponential_smoothing import SingleExponentialSmoothing, DoubleExponentialSmoothing, TripleExponentialSmoothing

# Single ES
sesm = SingleExponentialSmoothing(expost_flag=True, forecast_num=4)
forecast = sesm.fit_predict(df, key='INDEX')
print(forecast.collect())
print(forecast.count())

sesm = SingleExponentialSmoothing(expost_flag=False, forecast_num=4)
forecast = sesm.fit_predict(df, key='INDEX')
print(forecast.collect())
print(forecast.count())
# Double ES
desm = DoubleExponentialSmoothing(expost_flag=True, forecast_num=4)
forecast = desm.fit_predict(df, key='INDEX')
print(forecast.collect())

desm = DoubleExponentialSmoothing(expost_flag=False, forecast_num=4)
forecast = desm.fit_predict(df, key='INDEX')
print(forecast.collect())

# Triple ES
tesm = TripleExponentialSmoothing(forecast_num=5, expost_flag=True)
forecast = tesm.fit_predict(df, key='INDEX')
print(forecast.collect())

tesm = TripleExponentialSmoothing(forecast_num=5, expost_flag=False)
forecast = tesm.fit_predict(df, key='INDEX')
print(forecast.collect())

# auto ES
auto_exp_smooth = AutoExponentialSmoothing(model_selection = True, forecast_num=3)
forecast = auto_exp_smooth.fit_predict(df, key='INDEX')
print(forecast.collect())

# Brown
brown_exp_smooth = BrownExponentialSmoothing(forecast_num=6, expost_flag=True)
forecast = brown_exp_smooth.fit_predict(df, key='INDEX')
print(forecast.collect())
brown_exp_smooth = BrownExponentialSmoothing(forecast_num=6, expost_flag=False)
forecast = brown_exp_smooth.fit_predict(df, key='INDEX')
print(forecast.collect())

# Croston
croston = Croston(forecast_num=4, expost_flag=True)
forcast = croston.fit_predict(df, key='INDEX')
print(forecast.collect())

croston = Croston(forecast_num=4, expost_flag=False)
forcast = croston.fit_predict(df, key='INDEX')
print(forecast.collect())

              TIMESTAMP        VALUE    PI1_LOWER    PI1_UPPER    PI2_LOWER  \
0   2018-03-01 01:00:00  1000.584817          NaN          NaN          NaN
1   2018-03-01 02:00:00  1000.478273          NaN          NaN          NaN
2   2018-03-01 03:00:00  1000.297120          NaN          NaN          NaN
3   2018-03-01 04:00:00  1000.353203          NaN          NaN          NaN
4   2018-03-01 05:00:00  1000.532585          NaN          NaN          NaN
..                  ...          ...          ...          ...          ...
215 2018-03-10 00:00:00  1011.631479          NaN          NaN          NaN
216 2018-03-10 01:00:00  1011.417486  1008.757309  1014.077662  1007.349097
217 2018-03-10 02:00:00  1011.417486  1008.744042  1014.090930  1007.328806
218 2018-03-10 03:00:00  1011.417486  1008.730839  1014.104132  1007.308615
219 2018-03-10 04:00:00  1011.417486  1008.717702  1014.117270  1007.288522

       PI2_UPPER
0            NaN
1            NaN
2            NaN
3            NaN
4            NaN
..           ...
215          NaN
216  1015.485875
217  1015.506166
218  1015.526357
219  1015.546449

[220 rows x 6 columns]
220
            TIMESTAMP        VALUE    PI1_LOWER    PI1_UPPER    PI2_LOWER  \
0 2018-03-10 01:00:00  1011.417486  1008.757309  1014.077662  1007.349097
1 2018-03-10 02:00:00  1011.417486  1008.744042  1014.090930  1007.328806
2 2018-03-10 03:00:00  1011.417486  1008.730839  1014.104132  1007.308615
3 2018-03-10 04:00:00  1011.417486  1008.717702  1014.117270  1007.288522

     PI2_UPPER
0  1015.485875
1  1015.506166
2  1015.526357
3  1015.546449
4
              TIMESTAMP        VALUE    PI1_LOWER    PI1_UPPER    PI2_LOWER  \
0   2018-03-01 01:00:00   999.519375          NaN          NaN          NaN
1   2018-03-01 02:00:00   998.453932          NaN          NaN          NaN
2   2018-03-01 03:00:00   997.411897          NaN          NaN          NaN
3   2018-03-01 04:00:00   996.727649          NaN          NaN          NaN
4   2018-03-01 05:00:00   996.294926          NaN          NaN          NaN
..                  ...          ...          ...          ...          ...
215 2018-03-10 00:00:00  1012.963617          NaN          NaN          NaN
216 2018-03-10 01:00:00  1012.584464  1009.045861  1016.123066  1007.172639
217 2018-03-10 02:00:00  1012.552517  1008.992571  1016.112463  1007.108049
218 2018-03-10 03:00:00  1012.520570  1008.935388  1016.105752  1007.037507
219 2018-03-10 04:00:00  1012.488624  1008.874049  1016.103198  1006.960609

       PI2_UPPER
0            NaN
1            NaN
2            NaN
3            NaN
4            NaN
..           ...
215          NaN
216  1017.996289
217  1017.996985
218  1018.003633
219  1018.016638

[220 rows x 6 columns]
            TIMESTAMP        VALUE    PI1_LOWER    PI1_UPPER    PI2_LOWER  \
0 2018-03-10 01:00:00  1012.584464  1009.045861  1016.123066  1007.172639
1 2018-03-10 02:00:00  1012.552517  1008.992571  1016.112463  1007.108049
2 2018-03-10 03:00:00  1012.520570  1008.935388  1016.105752  1007.037507
3 2018-03-10 04:00:00  1012.488624  1008.874049  1016.103198  1006.960609

     PI2_UPPER
0  1017.996289
1  1017.996985
2  1018.003633
3  1018.016638
              TIMESTAMP        VALUE    PI1_LOWER    PI1_UPPER    PI2_LOWER  \
0   2018-03-01 02:00:00  1000.439866          NaN          NaN          NaN
1   2018-03-01 03:00:00   999.034944          NaN          NaN          NaN
2   2018-03-01 04:00:00   999.978371          NaN          NaN          NaN
3   2018-03-01 05:00:00   999.331085          NaN          NaN          NaN
4   2018-03-01 06:00:00  1000.590327          NaN          NaN          NaN
..                  ...          ...          ...          ...          ...
215 2018-03-10 01:00:00  1011.727137  1011.219010  1012.235264  1010.950023
216 2018-03-10 02:00:00  1011.368018  1010.780922  1011.955113  1010.470133
217 2018-03-10 03:00:00  1011.636078  1010.823551  1012.448604  1010.393426
218 2018-03-10 04:00:00  1011.276987  1010.393308  1012.160666  1009.925516
219 2018-03-10 05:00:00  1011.545018  1010.468220  1012.621817  1009.898197

       PI2_UPPER
0            NaN
1            NaN
2            NaN
3            NaN
4            NaN
..           ...
215  1012.504251
216  1012.265903
217  1012.878729
218  1012.628457
219  1013.191840

[220 rows x 6 columns]
            TIMESTAMP        VALUE    PI1_LOWER    PI1_UPPER    PI2_LOWER  \
0 2018-03-10 01:00:00  1011.727137  1011.219010  1012.235264  1010.950023
1 2018-03-10 02:00:00  1011.368018  1010.780922  1011.955113  1010.470133
2 2018-03-10 03:00:00  1011.636078  1010.823551  1012.448604  1010.393426
3 2018-03-10 04:00:00  1011.276987  1010.393308  1012.160666  1009.925516
4 2018-03-10 05:00:00  1011.545018  1010.468220  1012.621817  1009.898197

     PI2_UPPER
0  1012.504251
1  1012.265903
2  1012.878729
3  1012.628457
4  1013.191840
              TIMESTAMP        VALUE    PI1_LOWER    PI1_UPPER    PI2_LOWER  \
0   2018-03-01 01:00:00  1000.356847          NaN          NaN          NaN
1   2018-03-01 02:00:00   999.431243          NaN          NaN          NaN
2   2018-03-01 03:00:00   998.611869          NaN          NaN          NaN
3   2018-03-01 04:00:00  1000.951684          NaN          NaN          NaN
4   2018-03-01 05:00:00  1002.223475          NaN          NaN          NaN
..                  ...          ...          ...          ...          ...
214 2018-03-09 23:00:00  1009.967022          NaN          NaN          NaN
215 2018-03-10 00:00:00  1010.044143          NaN          NaN          NaN
216 2018-03-10 01:00:00  1009.467135  1008.053025  1010.881246  1007.304440
217 2018-03-10 02:00:00  1009.461855  1007.414475  1011.509235  1006.330657
218 2018-03-10 03:00:00  1009.460725  1006.925659  1011.995792  1005.583675

       PI2_UPPER
0            NaN
1            NaN
2            NaN
3            NaN
4            NaN
..           ...
214          NaN
215          NaN
216  1011.629831
217  1012.593053
218  1013.337775

[219 rows x 6 columns]
              TIMESTAMP        VALUE    PI1_LOWER    PI1_UPPER    PI2_LOWER  \
0   2018-03-01 01:00:00  1000.584817          NaN          NaN          NaN
1   2018-03-01 02:00:00  1000.371729          NaN          NaN          NaN
2   2018-03-01 03:00:00  1000.020076          NaN          NaN          NaN
3   2018-03-01 04:00:00  1000.159948          NaN          NaN          NaN
4   2018-03-01 05:00:00  1000.538037          NaN          NaN          NaN
..                  ...          ...          ...          ...          ...
217 2018-03-10 02:00:00  1010.951128  1008.538478  1013.363779  1007.261298
218 2018-03-10 03:00:00  1010.908732  1008.445460  1013.372005  1007.141482
219 2018-03-10 04:00:00  1010.866336  1008.348677  1013.383995  1007.015909
220 2018-03-10 05:00:00  1010.823940  1008.248151  1013.399729  1006.884611
221 2018-03-10 06:00:00  1010.781544  1008.143917  1013.419171  1006.747642

       PI2_UPPER
0            NaN
1            NaN
2            NaN
3            NaN
4            NaN
..           ...
217  1014.640959
218  1014.675983
219  1014.716763
220  1014.763269
221  1014.815446

[222 rows x 6 columns]
            TIMESTAMP        VALUE    PI1_LOWER    PI1_UPPER    PI2_LOWER  \
0 2018-03-10 01:00:00  1010.993525  1008.627726  1013.359323  1007.375348
1 2018-03-10 02:00:00  1010.951128  1008.538478  1013.363779  1007.261298
2 2018-03-10 03:00:00  1010.908732  1008.445460  1013.372005  1007.141482
3 2018-03-10 04:00:00  1010.866336  1008.348677  1013.383995  1007.015909
4 2018-03-10 05:00:00  1010.823940  1008.248151  1013.399729  1006.884611
5 2018-03-10 06:00:00  1010.781544  1008.143917  1013.419171  1006.747642

     PI2_UPPER
0  1014.611701
1  1014.640959
2  1014.675983
3  1014.716763
4  1014.763269
5  1014.815446
            TIMESTAMP        VALUE    PI1_LOWER    PI1_UPPER    PI2_LOWER  \
0 2018-03-10 01:00:00  1010.993525  1008.627726  1013.359323  1007.375348
1 2018-03-10 02:00:00  1010.951128  1008.538478  1013.363779  1007.261298
2 2018-03-10 03:00:00  1010.908732  1008.445460  1013.372005  1007.141482
3 2018-03-10 04:00:00  1010.866336  1008.348677  1013.383995  1007.015909
4 2018-03-10 05:00:00  1010.823940  1008.248151  1013.399729  1006.884611
5 2018-03-10 06:00:00  1010.781544  1008.143917  1013.419171  1006.747642

     PI2_UPPER
0  1014.611701
1  1014.640959
2  1014.675983
3  1014.716763
4  1014.763269
5  1014.815446
            TIMESTAMP        VALUE    PI1_LOWER    PI1_UPPER    PI2_LOWER  \
0 2018-03-10 01:00:00  1010.993525  1008.627726  1013.359323  1007.375348
1 2018-03-10 02:00:00  1010.951128  1008.538478  1013.363779  1007.261298
2 2018-03-10 03:00:00  1010.908732  1008.445460  1013.372005  1007.141482
3 2018-03-10 04:00:00  1010.866336  1008.348677  1013.383995  1007.015909
4 2018-03-10 05:00:00  1010.823940  1008.248151  1013.399729  1006.884611
5 2018-03-10 06:00:00  1010.781544  1008.143917  1013.419171  1006.747642

     PI2_UPPER
0  1014.611701
1  1014.640959
2  1014.675983
3  1014.716763
4  1014.763269
5  1014.815446

In [12]:
#LR_seasonal_adjust test
from hana_ml.algorithms.pal.tsa.lr_seasonal_adjust import LR_seasonal_adjust
lr = LR_seasonal_adjust(forecast_length=3, expost_flag=False)
forecast = lr.fit_predict(df, key='INDEX', endog='Y')
print(forecast.collect())

lr = LR_seasonal_adjust(forecast_length=3, expost_flag=True)
forecast = lr.fit_predict(df, key='INDEX', endog='Y')
print(forecast.collect())

            TIMESTAMP        VALUE
0 2018-03-10 01:00:00  1012.870630
1 2018-03-10 02:00:00  1012.941479
2 2018-03-10 03:00:00  1013.012328
              TIMESTAMP        VALUE
0   2018-03-01 00:00:00   997.496486
1   2018-03-01 01:00:00   997.567334
2   2018-03-01 02:00:00   997.638183
3   2018-03-01 03:00:00   997.709031
4   2018-03-01 04:00:00   997.779880
..                  ...          ...
215 2018-03-09 23:00:00  1012.728933
216 2018-03-10 00:00:00  1012.799782
217 2018-03-10 01:00:00  1012.870630
218 2018-03-10 02:00:00  1012.941479
219 2018-03-10 03:00:00  1013.012328

[220 rows x 2 columns]